@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4">My Bar</h1><br />
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <a class="btn btn-primary btn-lg" style="margin-right: 2%;" asp-area="Admin" asp-controller="Cocktail" asp-action="Index"> &nbsp; View Cocktail Menu</a>
        <a class="btn btn-primary btn-lg" style="margin-right: 5%;" asp-area="Admin" asp-controller="Order" asp-action="Index"> &nbsp; Order Queue</a>
        @*<a class="btn btn-primary btn-lg" asp-area="Admin" asp-controller="Cocktail" asp-action="Upsert"> &nbsp; Add Cocktail</a>*@
    </div>
</div>



    @section head{
        <style type="text/css">
            body {
                background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/Images/backgrounds/cocktails.jpg');
                background-size: cover;
                background-position: center;
            }
        </style>
    }
