
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Order Placed";
}

<br />
<br />
<div class="text-center">
    <h1 class="text-white">Thank you for your order!</h1>
    <h2>The bartender will prepare your cocktail shortly</h2>
    <h2>Please have the payment method ready</h2>
</div>



@section head{
    <style type="text/css">
        body {
            background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/Images/backgrounds/cocktails.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
}
